.item {
    grid-column: span 1;
}

body {
    background-color: rgb(29, 30, 32);
    color: white;
}

.navbar {
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4;
    height: auto;
    row-gap: 20px;
    vertical-align: center;
    column-gap: 15px;
    margin-top: 30px;
    flex-shrink: 1;
}

h2 {
    margin: 0;
}

.gridImage {
    width: 700px;
    margin: 0 auto;
    margin-block: auto;
}

a {
    cursor: pointer;
}

.form-label {
    display: inline-block;
}

.form-control {
    display: inline-block;
    width: 150px;
}

.toggler {
    width: 72px;
    display: inline-block;
}

.toggler input {
    display: none;
}

.toggler label {
    display: block;
    position: relative;
    width: 72px;
    height: 36px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
    margin-bottom: 0;
}

.toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: '';
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 26px;
    height: 26px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked+label::after,
.toggler input:checked+label .toggler-on,
.toggler input:checked+label .toggler-off {
    left: 75%;
}

.toggler input:checked+label::after {
    background-color: #50ac5d;
    animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}

.toggler input:checked+label .toggler-off,
.toggler input:not(:checked)+label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}


@keyframes toggler-size {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size2 {

    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

p {
    margin-block: 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #373b44, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(to right, #373b44, #84c0ec) !important;
    color: #fff;
}

.pointer {
    cursor: pointer;
}

.canvasContainer {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 50vw;
}

@media (max-width: 1060px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .pippo {
        flex-direction: column;
    }

    .item {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .card {
        overflow: hidden;
        width: auto;
    }

    .gridImage {
        margin: 0 auto;
        width: 300px;
        border-radius: 36px;
    }

    .canvasContainer {
        width: 100%;
        margin: 0 auto;
    }

    .canvasContainer canvas {
        width: 90%;
    }
}